.mainPage {
	&__preTitle {
		margin-bottom: 1em;
		display: block;
		font-size: 1rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&__title {
		margin: 0;
		font-size: 5rem;
		font-weight: 100;
	}

	&__paragraph {
		padding: 0 2em;
		font-size: 0.89rem;
	}
}

@media screen and (min-width: 768px) {
	.mainPage {
		&__preTitle {
			font-size: 1.45rem;
		}

		&__title {
			font-size: 10rem;
		}

		&__paragraph {
			font-size: 1.5rem;
			line-height: 2.2rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.mainPage {
		padding-top: 10%;
		padding-left: 9.25vw;

		&__title,
		&__paragraph,
		&__preTitle {
			text-align: initial;
		}

		&__title {
			margin-left: -12px;
		}

		&__paragraph {
			max-width: 50vw;
			padding: 0px;
		}
	}
}
