.destinationContainer {
	&__linksContainer {
		margin: 0 auto 1.5em;
		width: 75vw;
		display: flex;
		justify-content: space-evenly;
	}

	&__link {
		padding-bottom: 0.5em;
		text-transform: uppercase;
		letter-spacing: 1px;

		&--active {
			border-bottom: 2px solid var(--color-tertiary);
			color: var(--color-tertiary);
		}
	}

	&__title {
		margin: 0 auto 0.2em;
		width: 75vw;
		font-size: 3.5rem;
		font-weight: 300;
	}

	&__paragraph {
		margin: 0 auto 2em;
		width: 80vw;
		font-size: 0.9rem;
	}

	&__extraInfo {
		margin: 0 auto;
		padding-top: 1.755em;
		width: 85vw;
		border-top: 1px solid #383b4b;
	}

	&__distance,
	&__timeTravel {
		margin-bottom: 0.75em;
		font-size: 2rem;

		&--title {
			margin-bottom: 0.5em;
			display: block;
			font-size: 1rem;
			font-weight: 300;
			letter-spacing: 3px;
		}
	}
}

@media screen and (min-width: 768px) {
	.destinationContainer {
		&__linksContainer {
			width: 40vw;
		}

		&__title {
			font-size: 5rem;
		}

		&__paragraph {
			font-size: 1rem;
			line-height: 1.75em;
		}

		&__extraInfo {
			display: flex;
			justify-content: space-evenly;
		}
	}
}
