.destinationPage {
	&__presentation {
		margin-bottom: 1.5em;
	}

	&__title {
		margin: 0 0 2em;
		font-size: 1rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;

		&--number {
			font-weight: 700;
			color: #ffffff40;
		}
	}

	&__imageContainer {
		margin: 0 auto;
		width: 50vw;
		text-align: center;
	}

	&__destinationImg {
		max-width: 100%;
	}
}
