.destinationPage {
	&__presentation {
		margin-bottom: 1.5em;
	}

	&__title {
		margin: 0 0 2em;
		font-size: 1rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;

		&--number {
			font-weight: 700;
			color: #ffffff40;
		}
	}

	&__imageContainer {
		margin: 0 auto;
		width: 50vw;
		text-align: center;
	}

	&__destinationImg {
		max-width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.destinationPage {
		&__title {
			text-align: initial;
			text-indent: 3rem;
			font-size: 1.5rem;
		}

		&__imageContainer {
			width: 300px;
			height: 300px;
		}
	}
}
