<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>MPA Space Travel - Destination</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="/src/assets/images/icons/favicon-32x32.png" type="image/x-icon" />

		<link rel="stylesheet" href="/src/css/styles.css" />

		<script src="/src/javascript/pages-scripts/destination-page.js" type="module" defer></script>
	</head>
	<body>
		<div class="mainContainer--destinationPage">
			<header class="header">
				<div class="header__logoContiner">
					<img src="/src/assets/images/icons/logo.svg" alt="logo" class="header__logo" />
				</div>

				<!-- TODO mostrar esto en desktop -->
				<div class="header__decorativeBar"></div>

				<div class="navegationLinks">
					<div class="navegationLinks__iconContainer">
						<img src="/src/assets/images/icons/icon-hamburger.svg" alt="mobile-icon" class="navegationLinks__mobileIcon" />
					</div>

					<nav class="navegationLinks__linksContainer navegationLinks__linksContainer--hidden">
						<ul class="navegationLinks__listOfLinks">
							<li class="navegationLinks__linkContainer">
								<a href="/index.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">00</span>
									home
								</a>
							</li>

							<li class="navegationLinks__linkContainer navegationLinks__linkContainer--active">
								<a href="#" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">01</span>
									destination
								</a>
							</li>

							<li class="navegationLinks__linkContainer">
								<a href="/src/views/crew.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">02</span>
									crew
								</a>
							</li>

							<li class="navegationLinks__linkContainer">
								<a href="/src/views/technology.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">03</span>
									technology
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<div class="destinationPage">
				<div class="destinationPage__presentation">
					<h2 class="subTitle--white destinationPage__title">
						<span class="destinationPage__title--number">01</span>
						pick your destination
					</h2>
				</div>

				<div class="destinationContainer">
					<div class="destinationPage__imageContainer">
						<img src="/src/assets/images/destination/image-moon.webp" alt="Image of Moon" class="destinationPage__destinationImg" />
					</div>

					<div class="destinationContainer__info">
						<div class="destinationContainer__linksContainer">
							<span class="subTitle destinationContainer__link destinationContainer__link--active">moon</span>
							<span class="subTitle destinationContainer__link">mars</span>
							<span class="subTitle destinationContainer__link">europa</span>
							<span class="subTitle destinationContainer__link">titan</span>
						</div>

						<h2 class="title destinationContainer__title">moon</h2>
						<p class="paragraph destinationContainer__paragraph">See our planet as you've never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you're there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>

						<div class="destinationContainer__extraInfo">
							<div class="title destinationContainer__distance">
								<span class="subTitle destinationContainer__distance--title">avg. distance</span>
								384,400 km
							</div>

							<div class="title destinationContainer__timeTravel">
								<span class="subTitle destinationContainer__timeTravel--title">est. time travel</span>
								3 days
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
