<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>MPA Space Travel - Technology</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="/src/assets/images/icons/favicon-32x32.png" type="image/x-icon" />

		<link rel="stylesheet" href="/src/css/styles.css" />

		<script src="/src/javascript/pages-scripts/technology.js" type="module"></script>
	</head>
	<body>
		<div class="mainContainer--technology">
			<header class="header">
				<div class="header__logoContiner">
					<img src="/src/assets/images/icons/logo.svg" alt="logo" class="header__logo" />
				</div>

				<!-- TODO mostrar esto en desktop -->
				<div class="header__decorativeBar"></div>

				<div class="navegationLinks">
					<div class="navegationLinks__iconContiner">
						<img src="/src/assets/images/icons/icon-hamburger.svg" alt="mobile-icon" class="navegationLinks__mobileIcon" />
					</div>

					<nav class="navegationLinks__linksContainer navegationLinks__linksContainer--hidden">
						<ul class="navegationLinks__listOfLinks">
							<li class="navegationLinks__linkContainer">
								<a href="/index.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">00</span>
									home
								</a>
							</li>

							<li class="navegationLinks__linkContainer">
								<a href="/src/views/destination.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">01</span>
									destination
								</a>
							</li>

							<li class="navegationLinks__linkContainer">
								<a href="/src/views/crew.html" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">02</span>
									crew
								</a>
							</li>

							<li class="navegationLinks__linkContainer">
								<a href="#" class="subTitle--white navegationLinks__link">
									<span class="navegationLinks__link--number">03</span>
									technology
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<div class="technologyPage">
				<h2 class="subTitle--white technologyPage__title">
					<span class="technologyPage__title--number">03</span>
					space launch 101
				</h2>

				<div class="technologyContainer">
					<div class="technologyContainer__imageContainer">
						<img src="/src/assets/images/technology/mobile/image-launch-vehicle-landscape.jpg" alt="image" class="technologyContainer__image" />
					</div>

					<div class="technologyButtons">
						<button class="technologyButtons__button technologyButtons__button--active">1</button>
						<button class="technologyButtons__button">2</button>
						<button class="technologyButtons__button">3</button>
					</div>

					<div class="technologyInfo">
						<div class="subTitle technologyInfo__title">the terminology</div>
						<div class="title technologyInfo__terminology">Launch vehicle</div>
						<p class="paragraph technologyInfo__description">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
