.technologyContainer {
	&__imageContainer {
		width: 100vw;
		margin-bottom: 2em;
	}

	&__image {
		width: 100%;
		max-width: 100%;
	}
}

.technologyButtons {
	width: 80vw;
	margin: 0 auto 2em;
	display: flex;
	justify-content: space-evenly;

	&__button {
		border: 1px solid white;
		border-radius: 50%;
		padding: 15px 22px;
		outline: none;
		background-color: transparent;
		font-size: 1.2rem;
		color: white;

		&--active {
			background-color: white;
			color: #000;
		}
	}
}

.technologyInfo {
	&__title {
		margin-bottom: 0.3em;
		text-align: center;
		font-family: var(--body-fontFamily);
		color: #ffffff40;
	}

	&__terminology {
		margin-bottom: 1em;
		font-size: 1.5rem;
	}

	&__description {
		width: 90vw;
		margin: auto 5vw 0;
	}
}

@media screen and (min-width: 768px) {
	.technologyButtons {
		width: 40vw;
		margin: 0 auto 3em;
	}

	.technologyInfo {
		&__title {
			font-size: 1.5rem;
		}

		&__terminology {
			font-size: 2.5rem;
		}

		&__description {
			margin: 0 auto;
			width: 70vw;
			line-height: 1.75em;
			font-size: 1.125rem;
		}
	}
}
