.technologyPage {
	&__title {
		margin-bottom: 2em;
		text-align: center;
		font-size: 1rem;
		font-weight: 100;
		letter-spacing: 5px;

		&--number {
			font-weight: 700;
			color: #ffffff40;
		}
	}
}

@media screen and (min-width: 768px) {
	.technologyPage {
		&__title {
			text-align: initial;
			text-indent: 3rem;
			font-size: 1.25rem;
		}
	}
}
