@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/barlow-condensed/BarlowCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/bellefair/Bellefair-Regular.ttf") format("truetype");
}

:root {
  --body-fontFamily: "Bellefair", serif;
  --secondary-font: "Barlow", sans-serif;
  --secondary-font-condensed: "Barlow Condensed", sans-serif;
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-tertiary: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: var(--body-fontFamily);
  color: var(--color-tertiary);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

input,
button {
  font-family: inherit;
}

.title {
  font-family: var(--body-fontFamily);
  text-transform: uppercase;
  text-align: center;
  color: var(--color-tertiary);
}

.paragraph {
  font-family: var(--secondary-font);
  text-align: center;
  line-height: 25px;
  color: var(--color-secondary);
}

.subTitle {
  font-family: var(--secondary-font-condensed);
  text-transform: uppercase;
  color: var(--color-secondary);
}

.subTitle--white {
  font-family: var(--secondary-font-condensed);
  text-transform: uppercase;
  color: var(--color-tertiary);
}

.navegationLinks__iconContainer {
  width: 40px;
  height: 100%;
}

.navegationLinks__mobileIcon {
  width: 75%;
  margin-top: 11px;
  position: relative;
  font-size: 2rem;
  color: var(--color-secondary);
  z-index: 10;
}

.navegationLinks__linksContainer {
  width: 70vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff25;
  backdrop-filter: blur(20px) brightness(1.7);
  transition: transform 0.5s linear;
}

.navegationLinks__linksContainer--hidden {
  transform: translateX(70vw);
}

.navegationLinks__linksContainer--show {
  transform: translateX(0px);
}

.navegationLinks__listOfLinks {
  margin-top: 7em;
}

.navegationLinks__linkContainer {
  margin-bottom: 1em;
  margin-left: 1.5em;
  font-family: var(--secondary-font-condensed);
  letter-spacing: 2.5px;
}

.navegationLinks__link {
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px #000, -1px -1px 5px #000;
}

.navegationLinks__link--number {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .navegationLinks__iconContainer {
    display: none;
  }
  .navegationLinks__linksContainer {
    height: 100%;
    position: relative;
    top: -16px;
    right: -16px;
  }
  .navegationLinks__linksContainer--hidden {
    transform: translateX(0px);
  }
  .navegationLinks__linksContainer--show {
    transform: translateX(0px);
  }
  .navegationLinks__listOfLinks {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navegationLinks__linkContainer {
    margin: 0px;
    padding: 2em 0;
  }
  .navegationLinks__linkContainer--active {
    border-bottom: 2px solid white;
  }
  .navegationLinks__link {
    font-size: 1rem;
  }
  .navegationLinks__link--number {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navegationLinks__linksContainer {
    width: 57.64vw;
    height: 10.5vh;
    position: static;
  }
  .navegationLinks__linkContainer {
    padding: 2.3em 0px;
  }
  .navegationLinks__linkContainer:last-child {
    margin-right: 7.5em;
  }
  .navegationLinks__link--number {
    display: inline;
  }
}

.header {
  margin-bottom: 2em;
  padding: 1em 1em;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header__logoContiner {
  width: 40px;
  margin-left: 0.5em;
  padding: 0.3em 0;
}

.header__logo {
  max-width: 100%;
}

.header__decorativeBar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__logoContiner {
    margin-left: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 2em;
    padding-right: 0px;
    align-items: center;
  }
  .header__logoContainer {
    width: 48px;
    height: 48px;
    padding: 0px;
  }
  .header__decorativeBar {
    width: 35%;
    position: absolute;
    left: 9%;
    display: block;
    border: 1px solid #ffffff40;
  }
}

.mainContainer--mainPage {
  height: 100vh;
  background-image: url(../assets/images/backgrounds/main-page/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mainContainer--destinationPage {
  height: 115vh;
  background-image: url(../assets/images/backgrounds/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mainContainer--sliderPage {
  height: 100vh;
  background-image: url(../assets/images/backgrounds/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mainContainer--technology {
  height: 100vh;
  background-image: url(../assets/images/backgrounds/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .mainContainer--mainPage {
    background-image: url(../assets/images/backgrounds/main-page/background-home-tablet.jpg);
    background-size: 100vw 100vh;
  }
  .mainContainer--destinationPage {
    height: 100vh;
    background-image: url(../assets/images/backgrounds/destination/background-destination-tablet.jpg);
    background-size: 100vw 100vh;
  }
  .mainContainer--sliderPage {
    background-image: url(../assets/images/backgrounds/crew/background-crew-tablet.jpg);
    background-size: 100vw 100vh;
  }
  .mainContainer--technology {
    background-image: url(../assets/images/backgrounds/technology/background-technology-tablet.jpg);
    background-size: 100vw 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .mainContainer--mainPage {
    background-image: url(../assets/images/backgrounds/main-page/background-home-desktop.jpg);
  }
}

.mainPage__preTitle {
  margin-bottom: 1em;
  display: block;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mainPage__title {
  margin: 0;
  font-size: 5rem;
  font-weight: 100;
}

.mainPage__paragraph {
  padding: 0 2em;
  font-size: 0.89rem;
}

@media screen and (min-width: 768px) {
  .mainPage__preTitle {
    font-size: 1.45rem;
  }
  .mainPage__title {
    font-size: 10rem;
  }
  .mainPage__paragraph {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.destinationPage__presentation {
  margin-bottom: 1.5em;
}

.destinationPage__title {
  margin: 0 0 2em;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.destinationPage__title--number {
  font-weight: 700;
  color: #ffffff40;
}

.destinationPage__imageContainer {
  margin: 0 auto;
  width: 50vw;
  text-align: center;
}

.destinationPage__destinationImg {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .destinationPage__title {
    text-align: initial;
    text-indent: 3rem;
    font-size: 1.5rem;
  }
  .destinationPage__imageContainer {
    width: 300px;
    height: 300px;
  }
}

.destinationContainer__linksContainer {
  margin: 0 auto 1.5em;
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
}

.destinationContainer__link {
  padding-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.destinationContainer__link--active {
  border-bottom: 2px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.destinationContainer__title {
  margin: 0 auto 0.2em;
  width: 75vw;
  font-size: 3.5rem;
  font-weight: 300;
}

.destinationContainer__paragraph {
  margin: 0 auto 2em;
  width: 80vw;
  font-size: 0.9rem;
}

.destinationContainer__extraInfo {
  margin: 0 auto;
  padding-top: 1.755em;
  width: 85vw;
  border-top: 1px solid #383b4b;
}

.destinationContainer__distance, .destinationContainer__timeTravel {
  margin-bottom: 0.75em;
  font-size: 2rem;
}

.destinationContainer__distance--title, .destinationContainer__timeTravel--title {
  margin-bottom: 0.5em;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .destinationContainer__linksContainer {
    width: 40vw;
  }
  .destinationContainer__title {
    font-size: 5rem;
  }
  .destinationContainer__paragraph {
    font-size: 1rem;
    line-height: 1.75em;
  }
  .destinationContainer__extraInfo {
    display: flex;
    justify-content: space-evenly;
  }
}

.sliderPage__title {
  margin-bottom: 2.5em;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: 5px;
}

.sliderPage__title--number {
  color: #ffffff40;
  font-weight: 700;
}

.sliderImageContainer {
  width: 50%;
  min-height: 280px;
  display: flex;
  align-items: end;
  margin: 0 auto;
}

.sliderImageContainer__img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .mainContainer--sliderPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sliderPage__title {
    text-align: initial;
    text-indent: 3rem;
    font-size: 1.25rem;
  }
  .sliderImageContainer {
    min-height: 500px;
  }
}

.sliderContainer {
  display: flex;
  flex-direction: column-reverse;
}

.sliderContainer__job {
  margin-bottom: 0.5em;
  font-family: var(--body-fontFamily);
  text-align: center;
  color: #ffffff40;
}

.sliderContainer__name {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.sliderContainer__paragraph {
  width: 90%;
  margin: 0 auto;
}

.sliderControllers {
  width: 85vw;
  margin: 0 auto 1em;
  padding: 1.5em 5em 1em;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ffffff40;
}

.sliderControllers__button {
  width: 10px;
  height: 10px;
  background-color: #ffffff40;
  border-radius: 50%;
}

.sliderControllers__button--active {
  background-color: var(--color-tertiary);
}

@media screen and (min-width: 768px) {
  .sliderContainer {
    flex-direction: column;
  }
  .sliderContainer__info {
    margin-bottom: 1em;
  }
  .sliderContainer__job {
    font-size: 1.5rem;
  }
  .sliderContainer__name {
    font-size: 2.5rem;
  }
  .sliderContainer__paragraph {
    width: 60vw;
    line-height: 1.75em;
  }
  .sliderControllers {
    border: none;
  }
}

.technologyPage__title {
  margin-bottom: 2em;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 5px;
}

.technologyPage__title--number {
  font-weight: 700;
  color: #ffffff40;
}

@media screen and (min-width: 768px) {
  .technologyPage__title {
    text-align: initial;
    text-indent: 3rem;
    font-size: 1.25rem;
  }
}

.technologyContainer__imageContainer {
  width: 100vw;
  margin-bottom: 2em;
}

.technologyContainer__image {
  width: 100%;
  max-width: 100%;
}

.technologyButtons {
  width: 80vw;
  margin: 0 auto 2em;
  display: flex;
  justify-content: space-evenly;
}

.technologyButtons__button {
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px 22px;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
}

.technologyButtons__button--active {
  background-color: white;
  color: #000;
}

.technologyInfo__title {
  margin-bottom: 0.3em;
  text-align: center;
  font-family: var(--body-fontFamily);
  color: #ffffff40;
}

.technologyInfo__terminology {
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.technologyInfo__description {
  width: 90vw;
  margin: auto 5vw 0;
}

@media screen and (min-width: 768px) {
  .technologyButtons {
    width: 40vw;
    margin: 0 auto 3em;
  }
  .technologyInfo__title {
    font-size: 1.5rem;
  }
  .technologyInfo__terminology {
    font-size: 2.5rem;
  }
  .technologyInfo__description {
    margin: 0 auto;
    width: 70vw;
    line-height: 1.75em;
    font-size: 1.125rem;
  }
}
