.header {
	margin-bottom: 2em;
	padding: 1em 1em;
	display: flex;
	position: relative;
	justify-content: space-between;

	&__logoContiner {
		width: 40px;
		margin-left: 0.5em;
		padding: 0.3em 0;
	}

	&__logo {
		max-width: 100%;
	}

	//  NOTE mostrar esto en desktop
	&__decorativeBar {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.header {
		&__logoContiner {
			margin-left: 1em;
		}
	}
}
