.navegationLinks {
	&__iconContainer {
		width: 40px;
		height: 100%;
	}

	&__mobileIcon {
		width: 75%;
		margin-top: 11px;
		position: relative;
		font-size: 2rem;
		color: var(--color-secondary);
		z-index: 10;
	}

	&__linksContainer {
		width: 70vw;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #ffffff25;
		backdrop-filter: blur(20px) brightness(1.7);
		transition: transform 0.5s linear;

		&--hidden {
			transform: translateX(70vw);
		}

		&--show {
			transform: translateX(0px);
		}
	}

	&__listOfLinks {
		margin-top: 7em;
	}

	&__linkContainer {
		margin-bottom: 1em;
		margin-left: 1.5em;
		font-family: var(--secondary-font-condensed);
		letter-spacing: 2.5px;
	}

	&__link {
		font-size: 1.5rem;
		text-shadow: 3px 3px 5px #000, -1px -1px 5px #000;

		&--number {
			font-weight: 700;
		}
	}
}

@media screen and (min-width: 768px) {
	.navegationLinks {
		&__iconContainer {
			display: none;
		}

		&__linksContainer {
			height: 100%;
			position: relative;
			top: -16px;
			right: -16px;

			&--hidden {
				transform: translateX(0px);
			}

			&--show {
				transform: translateX(0px);
			}
		}

		&__listOfLinks {
			height: 100%;
			margin: 0px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		&__linkContainer {
			margin: 0px;
			padding: 2em 0;

			&--active {
				border-bottom: 2px solid white;
			}
		}

		&__link {
			font-size: 1rem;

			&--number {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.navegationLinks {
		&__linksContainer {
			width: 57.64vw;
			height: 10.5vh;
			position: static;
		}

		&__linkContainer {
			padding: 2.3em 0px;

			&:last-child {
				margin-right: 7.5em;
			}
		}

		&__link {
			&--number {
				display: inline;
			}
		}
	}
}
