.mainContainer {
	&--mainPage {
		height: 100vh;
		background-image: url(../assets/images/backgrounds/main-page/background-home-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&--destinationPage {
		height: 115vh;
		background-image: url(../assets/images/backgrounds/destination/background-destination-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&--sliderPage {
		height: 100vh;
		background-image: url(../assets/images/backgrounds/crew/background-crew-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&--technology {
		height: 100vh;
		background-image: url(../assets/images/backgrounds/technology/background-technology-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
